@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color:white;
    text-align: center;
}

section {
    background-color:white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

div {
    padding: 10px;
    text-align: center;
}

footer {
    color:white;
    text-align: center;
    font-style: italic;
}

a {
    font:normal;
    margin-left: 10px;
    text-decoration:none;
    color:white;
}

a:hover {
    text-decoration:underline;
    color:white;
}