@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
   background-image: linear-gradient(to bottom, #FFE849, #A9B1A1);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #4D4D3D;
    width: 100%;
    padding: 10px;
    margin: auto;
    
}

h1{
    text-align: center;
    text-shadow: 1px 1px 2px #A9B1A1;
    color:#4D4D3D;
    margin-bottom: 20px;
    color:goldenrod
}

span {
    margin-left: 20px;
}

p {
    text-align: justify;
    font-weight: 1.2em;
    line-height: 2em;
}

.final {
    text-transform: uppercase;
    text-decoration:none;
    letter-spacing: 2px;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #2450A6;
    transition: 0.5s;
    color:white;
    border-radius: 25px;
}