@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color:white;
    text-align: center;
    padding-top: 50px;
}

.txt {
    margin-bottom: 10px;
}

section {
    background-color:white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

div#res {
    margin-top: 10px;
}

.txt2 {
    margin-bottom: 5px;
}

.txt3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.txt4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button {
    margin-top:15px;
    width: 80px;
}

footer {
    color:white;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

a {
    font:normal;
    margin-left: 10px;
    text-decoration:none;
    color:white;
}

a:hover {
    text-decoration:underline;
    color:white;
}

